{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}
<style>
    body {
        background-image: url("{% static 'image/bg.jpg' %}"); /* Ensure the image path is correct */
        background-size: cover; /* Cover the entire page */
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Prevent the image from repeating */
    }

    .form-container {
        background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
        border-radius: 10px; /* Rounded corners */
        padding: 2rem; /* Padding around the form */
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Soft shadow */
    }
</style>

<div class="min-h-screen flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full form-container space-y-8">
        <div>
            <h2 class="mt-6 text-center text-3xl font-extrabold text-[#a16317]">Login to Cheesecake Store</h2>
        </div>
        <form class="mt-8 space-y-6" method="POST" action="">
            {% csrf_token %}
            <input type="hidden" name="remember" value="true">
            <div class="rounded-md shadow-sm -space-y-px">
                <div>
                    <label for="username" class="sr-only">Username</label>
                    <input id="username" name="username" type="text" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-[#d4973a] placeholder-[#a16317] text-[#a16317] rounded-t-md focus:outline-none focus:ring-[#d4973a] focus:border-[#d4973a] focus:z-10 sm:text-sm" placeholder="Username">
                </div>
                <div>
                    <label for="password" class="sr-only">Password</label>
                    <input id="password" name="password" type="password" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-[#d4973a] placeholder-[#a16317] text-[#a16317] rounded-b-md focus:outline-none focus:ring-[#d4973a] focus:border-[#d4973a] focus:z-10 sm:text-sm" placeholder="Password">
                </div>
            </div>

            <div>
                <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-[#d4973a] hover:bg-[#a16317] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#d4973a]">Sign in</button>
            </div>
        </form>

        <div class="text-center mt-4">
            <p class="text-sm text-black">Don't have an account yet?
                <a href="{% url 'main:register' %}" class="font-medium text-[#d85555] hover:text-[#f68787]">Register Now</a>
            </p>
        </div>
    </div>
</div>
{% endblock content %}