{% extends 'base.html' %}

{% block title %}
    Cheesecake Store - Product List
{% endblock title %}

{% block content %}
    <h1>Cheesecake Store</h1>

    <strong>{{ name }} from {{ kelas }}</strong>
    <br><br>
    
    {% for item in items %}
        <h5>Cake's Name: </h5>
        <p>{{ item.name }}</p>

        <h5>Cake's Size: </h5>
        <p>{{ item.size }}</p>

        <h5>Price: </h5>
        <p>{{ item.price }}</p>

        <h5>Description: </h5>
        <p>{{ item.description }}</p>

        <h5>Notes: </h5>
        <p>{{ item.notes }}</p>
        <br>
    {% endfor %}

{% if not menu_item %}
<p>Belum ada data menu pada cheesecake store.</p>
{% else %}
<table>
  <tr>
    <th>Cake's Name</th>
    <th>Notes</th>
  </tr>

  {% comment %} Berikut cara memperlihatkan data menu di bawah baris ini 
  {% endcomment %} 
  {% for item in menu_item %}
  <tr>
    <td>{{menu_item.name}}</td>
    <td>{{menu_item.size}}</td>
    <td>{{menu_item.price}}</td>
    <td>{{menu_item.description}}</td>
    <td>{{menu_item.notes}}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

<br />

<a href="{% url 'main:add_menu_item' %}">
  <button>Add New Menu</button>
</a>
{% endblock content %}